.btn {
    background-color:#DD7631; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-family:Papyrus, fantasy;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
.btn-con {
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    background-color:black;
    color:white;
    cursor: pointer;
}   


div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}